@import 'variable.scss';

#pge-welcome{
	.misc{
		position:absolute;
		top:0px;
		left:0px;
		width:100%;
		.color{
			display:block;
			float:left;
			width:20%;
			height:8px;
			@include transition(all, ease-in, 0.2s);
		}
	}
	.misc:after{
		@include clear-both();
	}
	a.logo{
		display:block;	
		position:absolute;
		right:20px;
		bottom:20px;
		opacity:0.7;
		@include transition(opacity, linear, 0.2s);
		img{		
			width:60px;
		}
	}
	a.logo:hover, a.logo:focus{
		opacity:1;
	}
	div.link{
		ul{
			display:inline-block;
			list-style:none;
			margin:0px;
			padding:0px;
			li{
				float:left;
				a{
					i.fa{
						margin-right:5px;
					}
				}
			}
			li:nth-child(n+2){
				margin-left:10px;
			}
		}
		ul.link:after{
			@include clear-both();
		}
	}
}