html{
	position:relative;
	min-height:100%;
}
html,
body{
	@include background-cover();
	font-family:$base-font-1;
}
::-webkit-input-placeholder{
	opacity:0.5;
}
:-moz-placeholder{
	opacity:0.5;
}
::-moz-placeholder{
	opacity:0.5;
}
:-ms-input-placeholder{
	opacity:0.5;
}