$base_font_1:"Montserrat", sans-serif;

$base_color_main_1:#FDC73F;
$base_color_shade_1:#FFFFFF;
$base_color_shade_2:#949494;
$base_color_shade_3:#333333;
$base_color_shade_4:#30373B;
$base_color_shade_5:#000000;