@import 'variable.scss';

html{
	background:$theme_color_main_1;
	animation-name:animate_background;
    animation-duration:2s;
}

@keyframes animate_background{
	0%   {background-color:$theme_color_main_1;}
	30%  {background-color:$theme_color_main_2;}
	50%  {background-color:$theme_color_main_1;}
	60%  {background-color:$theme_color_main_2;}
	70%  {background-color:$theme_color_main_1;}
	75%  {background-color:$theme_color_main_2;}
	80%  {background-color:$theme_color_main_1;}
	85%  {background-color:$theme_color_main_2;}
	90%  {background-color:$theme_color_main_1;}
	95%  {background-color:$theme_color_main_2;}
	100% {background-color:$theme_color_main_1;}
}