@import 'variable.scss';

.lyt-fixed{
	position:fixed;
}
.lyt-fixed.fullscreen{
	width:100%;
	height:100%;
}
.lyt-table{
	display:table;
	> .wrapper{
		display:table-cell;
		vertical-align:middle;
		@include max-tablet(){
			padding-left:20px;
			padding-right:20px;
		}
	}
}