@import 'variable.scss';

nav.navbar.navbar-default{
	background:$base_color_shade_1;
	min-height:auto;
}
nav.navbar[class*="navbar-fixed-"]{
	.navbar-header{
		padding:7px 0px;
		.navbar-brand{
			margin-left:15px;
			padding:0px;
			position:relative;
			height:auto;
			.logo{
				position:absolute;
				top:-30px;
				left:0px;
				height:60px;
			}
		}
		.navbar-toggle{
			margin:0px;
			margin-right:15px;
		}
	}
	.navbar-collapse{
		ul.nav.navbar-nav{
			margin-top:0px;
			margin-bottom:0px;
			> li.title{
				a{
					color:$theme_color_main_1;
					font-weight:bold;
				}
			}
			> li.dropdown{
				> ul.dropdown-menu{
					border:0px;
					border-radius:4px;
					box-shadow:none;
					> li{
						> a{
							background:transparent !important;
							padding:0px;
						}
						> a:hover, > a:focus{
							color:$theme_color_main_2;
						}
					}
					@include min-tablet(){
						padding:5px 0px;
						> li{
							> a{
								padding:5px 20px;
							}
						}
					}
					@include max-phone(){
						margin:0px;
						padding:0px;
						padding-left:30px;
						> li{
							padding:10px 0px;
						}
						> li.dropdown-header{
							padding-bottom:0px;
						}
					}
				}
			}
			> li:nth-child(n+2){
				@include min-tablet(){
					border-left:1px solid $theme_color_shade_1;
				}
				@include max-phone(){
					border-top:1px solid $theme_color_shade_1;
				}
			}
		}
	}
}
nav.navbar.navbar-fixed-top{
	@include min-tablet(){
		.navbar-collapse{
			ul.nav.navbar-nav{
				> li.dropdown{
					> ul.dropdown-menu{
						margin-top:10px;
					}
				}
			}
		}
	}
}
nav.navbar.navbar-fixed-bottom{
	@include min-tablet(){
		.navbar-collapse{
			ul.nav.navbar-nav{
				> li.dropdown{
					> ul.dropdown-menu{
						margin-bottom:10px;
					}
				}
			}
		}
	}
}
ul.nav.nav-pills{
	display:inline-block;
	margin-top:50px;
	> li{
		> a{
			background:$base_color_shade_1;
			color:$theme_color_main_1;
			font-weight:bold;
		}
		> ul.dropdown-menu{
			border:0px;
			box-shadow:none;
			margin-top:10px;
			padding:0px;
			> li{
				> a{
					background:transparent !important;
					padding:5px 10px;
				}
				> a:hover, > a:focus{
					color:$theme_color_main_2;
				}
			}
		}
	}
	> li:nth-child(n+2){
		margin-left:10px;
	}
}